@page
@model Student_Accomodation.Pages.Apartments.GetApartmentsModel
@{
}
<table class="table">
    <thead>
        <tr>
            <th>Apartment ID</th>
            <th>Address</th>
            <th>Apartment Type</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var @item in Model.Apartments)
        {
        <tr>
            
            <td>@item.Apartment_No</td>
            <td>@item.Address</td>
             @if (@item.Types == '3')
             {
                <td>Three Room Apartment</td>
             } else if (@item.Types == '4') {
                <td>Four Room Apartment</td>
             } else if (@item.Types == '5')
             {
                <td>Five Room Apartment</td>
             }else {
                 <td> </td>
             }
             <td><a class="btn btn-info" asp-page="/Rooms/GetVacantRoom" asp-route-id="@item.Apartment_No" asp-route-type="Apartment">View Vacant Room</a></td>
            </tr>    
        }
        
    </tbody>

</table>