@page
@model StudentAccomodation.Pages.Students.GetStudentsModel
@{
}
<div>
    <a class="btn btn-primary" asp-page="/Students/GetWaitingList">Waiting List</a>
</div>
 
<table class= "table">
     <thead>
         <tr>
             <th>Student No.</th>
             <th>Name</th>
             <th>Address</th>
             <th>Has Room</th>
             <th>Registration Date</th>
         </tr>
     </thead>
     <tbody>
        @foreach(var @item in Model.Students)
        {
             <tr>
                 <td>@item.StudentNo</td>
                 <td>@item.SName</td>
                 <td>@item.SAddress</td>
                 <td>@item.HasRoom</td>
                 <td>@item.RegistrationDate</td>
             </tr> 
        }
         
     </tbody>
 </table>
