@page
@model StudentAccomodation.Pages.Students.GetStudentsModel
@{
}
<div class="text-center">
    <h3 class="display-4">Students</h3>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <a class="btn btn-primary" asp-page="/Students/GetWaitingList" asp-route-type = "WaitingList">Waiting List</a>
    </div>
    <div class="col align-self-end">
      <p>Total Number Of data : @Model.Students.Count()</p>
    </div>
  </div>
</div>
 <br />
<table class= "table">
     <thead>
         <tr>
             <th>Student No.</th>
             <th>Name</th>
             <th>Address</th>
             <th>Has Room</th>
             <th>Registration Date</th>
             <th>Action</th>
         </tr>
     </thead>
     <tbody>
        @foreach(var @item in Model.Students)
        {
             <tr>
                 <td>@item.StudentNo</td>
                 <td>@item.SName</td>
                 <td>@item.SAddress</td>
                 <td>@item.HasRoom</td>
                 <td>@item.RegistrationDate</td>
                 <td>
                     <a class="btn btn-danger" asp-page="/Students/DeleteStudent" asp-route-id="@item.StudentNo">Delete</a>
                    @if (item.HasRoom)
                    {
                       <a class="btn btn-success" asp-page="/Students/StudentLeasings" asp-route-id="@item.StudentNo">Leasings</a> 
                    }
                    </td>
             </tr> 
        }
         
     </tbody>
 </table>
