@page
@model StudentAccomodation.Pages.Students.GetWaitingListModel
@{
}
<div class="text-center">
    <h3 class="display-4">Waiting List of Students</h3>
</div>
<table class= "table">
     <thead>
         <tr>
             <th>Student No.</th>
             <th>Name</th>
             <th>Address</th>
             <th>Has Room</th>
             <th>Registration Date</th>
         </tr>
     </thead>
     <tbody>
        @foreach(var @item in Model.WaitingList)
        {
             <tr>
                 <td>@item.StudentNo</td>
                 <td>@item.SName</td>
                 <td>@item.SAddress</td>
                 <td>@item.HasRoom</td>
                 <td>@item.RegistrationDate</td>
             </tr> 
        }
         
     </tbody>
 </table>