@page
@model StudentAccomodation.Pages.Rooms.GetVacantRoomModel
@{
}
<div class="text-center">
    <h3 class="display-4">Vacant Rooms</h3>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Place No</th>
            <th>Rent Per Semester</th>
            <th>Occupied</th>
            <th>Room No.</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var @items in Model.VacantRoom)
        {
            <tr>    
            <td>@items.PlaceNo</td>
            <td>@items.RentPerSemester</td>
            <td>@items.Occupied</td>
            <td>@items.RoomNo</td>
            <td><a class="btn btn-info" asp-page="/Leasings/AddLeasing" asp-route-placeNo="@items.PlaceNo">Lease this Room</a></td>
            </tr>
        }
    </tbody>
</table>

